[Unit]
Description=Terraria Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=terraria
ExecStart=/etc/terraria/start-server.sh
[Install]
WantedBy=multi-user.target
