[Unit]
Description=Minecraft Server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=minecraft
ExecStart=/etc/minecraft/start-server.sh
WorkingDirectory=/etc/minecraft

[Install]
WantedBy=multi-user.target
